<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>578870018506-78ev4noqk7tm482vifcr4391cretrj8s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.578870018506-78ev4noqk7tm482vifcr4391cretrj8s</string>
	<key>API_KEY</key>
	<string>AIzaSyC9RL21Z3a9qdll3jL6JrQzmOFSwCrFoaI</string>
	<key>GCM_SENDER_ID</key>
	<string>578870018506</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mgynsz.WordWideWeb</string>
	<key>PROJECT_ID</key>
	<string>wordwideweb-22b1e</string>
	<key>STORAGE_BUCKET</key>
	<string>wordwideweb-22b1e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:578870018506:ios:9d7edf181ed2da9120cf33</string>
</dict>
</plist>